.task-container{
    background-color: #444;
    margin: 8px auto;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}